.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.card {
  height: 30px;
  width: 20%;
  text-align: center; 
}
